<div class="text-wrapper">



  <img class="typewriter" src="images/typewritter.png" alt="">
  <img class="horizontal2" src="images/horizontal2.png" alt="" />

  <img class="horizontal" src="images/horizontal.png" alt="">
  <img class="after" src="images/after.png" alt="">

</div>
<div class="sprite-container">
<i class="key sprite sprite-A" ng-click="type.letterAni()" ng-class="{'ani-keyDown': type.letterDown }"></i>
<i class="key sprite sprite-B" ng-click="type.letterAni()" ng-class="{'ani-keyDown': type.letterDown }"></i>
<i class="key sprite sprite-C" ng-click="type.letterAni()" ng-class="{'ani-keyDown': type.letterDown }"></i>
<i class="key sprite sprite-D" ng-click="type.letterAni()" ng-class="{'ani-keyDown': type.letterDown }"></i>
<i class="key sprite sprite-E" ng-click="type.letterAni()" ng-class="{'ani-keyDown': type.letterDown }"></i>
<i class="key sprite sprite-F" ng-click="type.letterAni()" ng-class="{'ani-keyDown': type.letterDown }"></i>
<i class="key sprite sprite-G" ng-click="type.letterAni()" ng-class="{'ani-keyDown': type.letterDown }"></i>
<i class="key sprite sprite-H" ng-click="type.letterAni()" ng-class="{'ani-keyDown': type.letterDown }"></i>
<i class="key sprite sprite-I" ng-click="type.letterAni()" ng-class="{'ani-keyDown': type.letterDown }">I</i>
<i class="key sprite sprite-J" ng-click="type.letterAni()" ng-class="{'ani-keyDown': type.letterDown }"></i>
<i class="key sprite sprite-K" ng-click="type.letterAni()" ng-class="{'ani-keyDown': type.letterDown }"></i>
<i class="key sprite sprite-L" ng-click="type.letterAni()" ng-class="{'ani-keyDown': type.letterDown }"></i>
<i class="key sprite sprite-M" ng-click="type.letterAni()" ng-class="{'ani-keyDown': type.letterDown }"></i>
<i class="key sprite sprite-N" ng-click="type.letterAni()" ng-class="{'ani-keyDown': type.letterDown }"></i>
<i class="key sprite sprite-O" ng-click="type.letterAni()" ng-class="{'ani-keyDown': type.letterDown }"></i>
<i class="key sprite sprite-P" ng-click="type.letterAni()" ng-class="{'ani-keyDown': type.letterDown }"></i>
<i class="key sprite sprite-Q letter" ng-click="type.letterAni()" ng-class="{'ani-keyDown': type.letterDown }"></i>
<i class="key sprite sprite-R" ng-click="type.letterAni()" ng-class="{'ani-keyDown': type.letterDown }"></i>
<i class="key sprite sprite-S" ng-click="type.letterAni()" ng-class="{'ani-keyDown': type.letterDown }"></i>
<i class="key sprite sprite-T" ng-click="type.letterAni()" ng-class="{'ani-keyDown': type.letterDown }"></i>
<i class="key sprite sprite-U" ng-click="type.letterAni()" ng-class="{'ani-keyDown': type.letterDown }"></i>
<i class="key sprite sprite-V" ng-click="type.letterAni()" ng-class="{'ani-keyDown': type.letterDown }"></i>
<i class="key sprite sprite-X" ng-click="type.letterAni()" ng-class="{'ani-keyDown': type.letterDown }"></i>
<i class="key sprite sprite-Y" ng-click="type.letterAni()" ng-class="{'ani-keyDown': type.letterDown }"></i>
<i class="key sprite sprite-Z" ng-click="type.letterAni()" ng-class="{'ani-keyDown': type.letterDown }"></i>
<i class="key sprite sprite-w" ng-click="type.letterAni()" ng-class="{'ani-keyDown': type.letterDown }"></i>
<i class="key spacebar" ng-click="type.letterAni()" ng-class="{'ani-keyDown': type.letterDown }"></i>
</div>

<div class="block"></div>

  <audio src="sounds/typewriter.wav" autoplay ng-if="type.playTypeSound"></audio>
