@import "resets";
@import "config";
@import "mixins";

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Special Elite';
  height: 100vh;

  /* padding-bottom: 500px;*/

  /*width: 100vw;*/

  background-color: #e3e3e3;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
}

img {
  position: absolute;
  width: 700px;

  /*border: 1px solid red;*/
}

.shadow {
  position: absolute;

  /* border: 2px solid green;*/
  width: 555px;
  height: 30px;
  bottom: 35px;
  box-shadow: 0px 10px 21px -5px rgba(0, 0, 0, 1);
  border-radius: 50%;

  /* display: none;*/
}

.typewriter {
  z-index: 20;
  top: 150px;
}

.typewriter:before {
  content: 'hello world';
  position: absolute;
  height: 100px;
  width: 500px;
  background-color: red;
  top: 0;
  left: 0;
}

.horizontal {
  position: absolute;
  width: 700px;
  z-index: 50;
  top: 270px;
}

.horizontal2 {
  position: absolute;
  width: 600px;
  top: 250px;
  -webkit-transform: translateX(120px);
  -ms-transform: translateX(120px);
  transform: translateX(120px);

  /* right: 90px;*/

  /* border: 1px solid green;*/
  z-index: 40;

  /* z-index: 9999;*/
}

.after {
  position: absolute;
  width: 700px;
  top: 153px;
  -webkit-transform: translateX(120px);
  -ms-transform: translateX(120px);
  transform: translateX(120px);
  z-index: 50;
}

.spacebar {
  position: absolute;
  cursor: pointer;
  z-index: 60;
  left: 0;
  width: 300px;
  height: 30px;
  left: 100px;
  background: url(../images/spaceBar.png) top center no-repeat;

  /* border: 1px solid red;*/

  /* background-size: contain;*/
  bottom: 0px;
}

.text-wrapper {
  width: 500px;
  height: 370px;
  position: absolute;
  top: 0px;
  border: 2px solid red;
  padding: 0 130px;
  overflow: scroll;
  z-index: 70;
  -webkit-transform: translateX(120px);
  -ms-transform: translateX(120px);
  transform: translateX(120px);
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;

  p {
    position: absolute;
    bottom: 30px;

    /* border: 1px solid green;*/
    height: auto;
    width: 250px;
    font-family: 'Special Elite';
    word-wrap: break-word;
    overflow: scroll;
  }
}

/* .typer {*/
/*   height: 30px;*/
/*   width: 10px;*/
/*   background-color: #000;*/
/*   position: absolute;*/
/*   top: 320px;*/
/*   -webkit-transform: translateX(6px) translateY(25px);*/
/*   -ms-transform: translateX(6px) translateY(25px);*/
/*   transform: translateX(6px) translateY(25px);*/
/*   z-index: 50;*/
/* }*/
/**/
/* .typer-trans {*/
/*   -webkit-transform: translateX(6px) translateY(0px);*/
/*   -ms-transform: translateX(6px) translateY(0px);*/
/*   transform: translateX(6px) translateY(0px);*/
/* }*/
/**/
/* .block {*/
/*   height: 100vh;*/
/*   width: 100vw;*/
/*   position: absolute;*/
/*   z-index: 9999;*/
/* }*/

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@import "letters";

@import "js";
