@import "resets";
@import "config";
@import "mixins";

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Special Elite';

  /*width: 100vw;*/
  /*height: 100vh;*/

  background-color: #e9e9e9;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

img {
  position: absolute;
  width: 800px;

  /*border: 1px solid red;*/
}

.typewriter {
  z-index: 20;
}

.horizontal {
  position: absolute;
  width: 800px;

  /* border: 1px solid green;*/
  z-index: 40;

  /* z-index: 9999;*/
}

.text-wrapper {
  width: 500px;
  height: 147.5px;
  position: absolute;
  top: 150px;
  z-index: 10;

  /* border: 2px solid red;*/
  padding: 0 130px;
  overflow: scroll;
  z-index: 30;

  p {
    position: absolute;
    bottom: 30px;
    border: 1px solid green;
    height: auto;
    width: 250px;
    font-family: 'Special Elite';
    word-wrap: break-word;
  }
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@import "letters";

@import "js";
